body {
  background-color: black;
  color: red;
}

h1 {
  font-size: 55px;
  padding: 25px;
  background-color: lightcoral;
  border-radius: 21px;
  letter-spacing: 2px;
}

p {
  font-size: 14px;
}

.block {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  background-color: lightgreen;
  transform: rotate(5deg) translate(-50%, -150%);
  transform-origin: bottom center;
  animation: rotate 1s ease-in-out 0.5s infinite forwards;
}

@keyframes rotate {
  to {
    transform: rotate(360deg) translate(-50%, -150%);
  }
}
